<md-card *ngIf="!fouls">
  <md-card-title>{{title}}</md-card-title>
  <button [disabled]="game.reds === 0" class="red" md-fab type="button" (click)="updateScore(1); decrementReds();">Red</button>
  <button class="yellow" md-fab type="button" (click)="updateScore(2)">Yellow</button>
  <button class="green" md-fab type="button" (click)="updateScore(3)">Green</button>
  <button class="brown" md-fab type="button" (click)="updateScore(4)">Brown</button>
  <button class="blue" md-fab type="button" (click)="updateScore(5)">Blue</button>
  <button class="pink" md-fab type="button" (click)="updateScore(6)">Pink</button>
  <button class="black" md-fab type="button" (click)="updateScore(7)">Black</button>
</md-card>

<md-card *ngIf="fouls">
  <md-card-title>{{title}}</md-card-title>
  <button class="white" md-fab type="button" (click)="updateFoul(4)">White</button>
  <button [disabled]="game.reds === 0" class="red" md-fab type="button" (click)="updateFoul(4); decrementReds();">Red</button>
  <button class="yellow" md-fab type="button" (click)="updateFoul(4)">Yellow</button>
  <button class="green" md-fab type="button" (click)="updateFoul(4)">Green</button>
  <button class="brown" md-fab type="button" (click)="updateFoul(4)">Brown</button>
  <button class="blue" md-fab type="button" (click)="updateFoul(5)">Blue</button>
  <button class="pink" md-fab type="button" (click)="updateFoul(6)">Pink</button>
  <button class="black" md-fab type="button" (click)="updateFoul(7)">Black</button>
</md-card>