<div style="text-align:center">
  <h1 style="color: white; font-size: 72px;">
    {{title}}!!
  </h1>

  <ng-container *ngIf="!gameInProgress">
    <button md-raised-button type="button" (click)="newGame()" color="primary">New Game</button>
    <md-card *ngIf="formBuilt">
      <form [formGroup]="form" (ngSubmit)="startGame()" novalidate>
        <md-card-content>
          <md-input-container color="accent">
            <input mdInput placeholder="Player 1 Name" formControlName="player1Name" [(ngModel)]="player1.name">
          </md-input-container>

          <md-input-container color="accent">
            <input mdInput placeholder="Player 2 Name" formControlName="player2Name" [(ngModel)]="player2.name">
          </md-input-container>
        </md-card-content>

        <md-card-footer>
          <button md-raised-button type="submit" color="primary">
              Start Game
            </button>
        </md-card-footer>
      </form>
    </md-card>
  </ng-container>

  <ng-container *ngIf="gameInProgress">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-around" class="flex">
        <app-player class="flex" [player]="game.players[0]"></app-player>
        <app-game class="flex" [game]="game"></app-game>
        <app-player class="flex" [player]="game.players[1]"></app-player>
      </div>
      <div fxLayout="column">
        <app-points [title]="'Points'" [fouls]="false" [game]="game" [player1]="player1" [player2]="player2"></app-points>
        <app-points [title]="'Fouls'" [fouls]="true" [game]="game" [player1]="player1" [player2]="player2"></app-points>
      </div>
    </div>

    <button *ngIf="gameInProgress" md-raised-button type="button" (click)="switchPlayers()" color="primary">
        Switch Player
      </button>

    <button *ngIf="gameInProgress" md-raised-button type="button" (click)="endGame()" color="primary">
          End Game!
        </button>
  </ng-container>
</div>